@model HomeViewModel
<header>
    <h1>
        @Model.headers.Title <a href="http://html5up.net">HTML5 UP</a>.
    </h1>
    <p>@Model.headers.Text</p>
</header>
<section class="tiles">
    @foreach (Project item in Model.projects)
    {
        <article runat="server" class="style@(ViewBag.style%6)">
            <span class="image">
                <img src="@item.Image" alt="" />
            </span>
            <a href="/project/index/@item.Id">
                <h2>@item.Title</h2>
                <div class="content">
                    <p>@item.SubTitle</p>
                </div>
            </a>
        </article>
        <p style="display:none">@(ViewBag.style++);</p>
    }
</section>